/*.demande {

    margin-top:20px;

    padding:20px;

    background:#010c2c;

    border-radius:12px;

    border:1px solid rgba(143,236,201,0.25);

}


.demande h3 {

    color:#8fecc9;

    margin-top:0;

}
.actions {

    display:flex;

    gap:15px;

    margin-top:20px;

}


.actions button {

    flex:1;

}


.accepter {

    background:#8fecc9;

}


.refuser {

    background:#ff5b6e;

    color:white;

}
.recherche-membres {

    margin-bottom: 25px;

}


.recherche-membres input {

    width: 100%;

    max-width: 600px;

    padding: 14px 18px;

    border-radius: 8px;

    border:

        1px solid

        #3c9195;

    background:

        #010c2c;

    color:

        white;

    font-size:

        15px;

}


.recherche-membres input::placeholder {

    color:

        rgba(
            255,
            255,
            255,
            0.6
        );

}
*/
